.NavTab {
    padding: 24px 0;
    background-color: #272727;
}

.NavTab_container {
    margin: 0;
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    
}

.NavTab_container-link {
    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    padding-right: 20px;
    padding-left: 20px;

}