

.Header {
    display: flex;
    color: white;
    justify-content: space-between;
}

.Header__logo {
    width: 38px;
    height: 38px;
    padding: 18px 0;
    background-image: url(../../images/logo.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.Header__logo:hover {
    opacity: .8;
}

.Header__navigation {
    padding: 28px 0;
    color: white;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    padding-left: 62px;
}

.Header__navigation-film {
    padding-right: 16px;
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.Header__navigation-film:hover {
    opacity: .7;
}

.Header__navigation-saveFilm {
    color: white;
    text-decoration: none;
}

.Header__navigation-saveFilm:hover {
    opacity: .7;
}

.Header__myProfile {
    display: flex;
    background-color: #202020;
    color: white;
    margin: 21px 0;
    width: 100px;
    height: 32px;
    border: 2px solid #3C3C3C;
    border-radius: 50px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    font-family: 'Inter';
    cursor:pointer;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

.Header__myProfile:hover {
    opacity: .8;
}

.Header__myProfile-img {
    padding-right: 7px;
}

@media screen and (max-width:768px) {
    .Header__navigation {
        display: none;
    }        

    .Header__myProfile {
        display: none;
    }
}

@media screen and (max-width:320px) {
    
}