.MainTitle {
    margin: 0;
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    padding: 110px 0 23px 0;
    border-bottom: 1px solid #DADADA;
}